<!DOCTYPE html>
<html>
  <head>
    <title>Auth <%= params[:result] %></title>
  </head>
  <body>
    <a href="/">Start over</a>
    <pre><% request.env.each do |k,v| %><%=h k %>=<%=h v.inspect %>
<% end %></pre>
  </body>
</html>
