<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
  </head>
  <body>
    <form action="/auth/github" method="post">
      <input type="submit" value="Sign in with GitHub">
    </form>
  </body>
</html>
